*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #222;
}
.top h2{
    text-align: center;
    color: #fff;
    margin-top: 40px;
    font-size: 26px;
    font-weight: 600;
}
.card{
    width: 90%;
    max-width: 470px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff;
    margin: 40px auto 100px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    outline: 0;
    border: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.copyright{
    text-align: center;
    color: #fff;
}
.copyright i{
    color: #ff004f;
}
.copyright span{
    color: #f44336;
}


@media screen and (max-width:720px) {
    
    .card{
        width: 80%;
    }
    .search{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .search input{
        width: 100%;
        border-radius: 30px;
        font-size: 12px;
        margin-bottom: 16px;
    }
    .search button{
        width: 30px;
        height: 30px;
    }
    .search button img{
        width: 8px;
    }
    .weather-icon{
        width: 100px;
    }
    .weather h1{
        font-size: 28px;
    }
    .weather h2{
        font-size: 28px;
        margin-top: 10px;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col img{
        width: 40px;
    }
    .col{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .col p{
        font-size: 14px;
    }
}